<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>To-Do App</title>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1><%= currDate %></h1>
        <% if (count === 1 || count === 0) { %>
        <p><%= count %> Active Task</p>
        <% } else { %>
        <p><%= count %> Active Tasks</p>
        <% } %>
      </div>

      <div class="todo">
        <form class="todo-form" action="/" method="POST">
          <input
            type="text"
            name="task"
            autocomplete="off"
            placeholder="Add your task here .."
            required
          />
          <button type="submit">Add Task</button>
        </form>
      </div>

      <form action="/delete" method="post">
        <div class="notes">
          <% notes.forEach(e => { %>
          <div class="main">
            <input
              value="<%= e._id %>"
              name="checkedTask"
              type="checkbox"
              onchange="this.form.submit()"
            />
            <p id="task"><%= e.noteItem %></p>
          </div>
          <% }); %>
        </div>
      </form>
    </div>
  </body>
</html>
